{% extends "base.html" %}
{% load static %}

{% block headertype %}
<header>
{% endblock %}

{% block content %}
    <section class="login-page">
      <h2>Załóż konto</h2>
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" name="first_name" placeholder="Imię" value=""/>
        </div>
         <div class="form-group">
          <input type="text" name="last_name" placeholder="Nazwisko" value=""/>
        </div>
        <div class="form-group">
          <input type="email" name="username" placeholder="Email" value=""/>
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Hasło" value=""/>
        </div>
        <div class="form-group">
          <input type="password" name="password2" placeholder="Powtórz hasło" value="" />
        </div>

        <div class="form-group form-group--buttons">
          <a href="/login/" class="btn btn--without-border">Zaloguj się</a>
          <button class="btn" type="submit">Załóż konto</button>
        </div>
      </form>
    </section>
  {% endblock %}


